<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="col-xs-2">
			<div class="circle">
				<br />
				An
				<br />
				AMPed
				<br />
				Web App
			</div>
		</div>
		<div class="col-xs-5 slogan">
			Your digital wingman. We've got your back.
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'I got game', '#' %><br>
			<%= link_to 'Meet the wingman', '#' %>
		</div>
	</header>
	<hr />
	<br class="clear" />

	<div class="container">
		<%= yield %>
	</div>

	<div class="footer">
		<div class="container">
			<div class="col-xs-6">
				<%= link_to "Help me Wingman, I need another!", "#", :class => 'next-quote' %>
			</div>
			<div class="col-xs-6 footer-blurb">
				Want to build your own Splurty Web App? - <a href="http://thefirehoseproject.com">Learn how!</a>
			</div>
		</div>
	</div>

</body>
</html>
