<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="col-xs-3">
			LOGO
		</div>
		<div class="col-xs-4">
			Your digital wingman. We've got your back.
		</div>
		<div class="col-xs-5">
			<%= link_to 'I got game', '#' %>
			<%= link_to 'Meet the wingman', '#' %>
		</div>
	</header>

	<br class="clear" />

<%= yield %>

</body>
</html>
